<% title = "Authentications" %>

<div class="center">
  <h2>Welcome, <%= @user.name %></h2><br>
  <ul class="no-style campaign-panel">
  	<% @user.campaigns.each do |campaign| %>
  	<li class="pam man" data-id="<%= campaign.id %>">
  		<p><%= campaign.provider %> campaign </p>
  		<p>Title: <%= campaign.title %></p>
  	</li>
  	<% end %>
  </ul>
  <%= link_to "Add campaign", new_campaign_path(@campaign, type: 'TwitterCampaign'), class: "mlm" %>
</div>
