<% title = "Authentications" %>

<div class="center">
  <h2>Welcome, <%= @user.name %><span class="pull-right"><%= link_to "sign out", signout_path %></span></h2><br>
  <ul class="no-style campaign-panel">
  	<% @user.campaigns.each do |campaign| %>
  	<li data-id="<%= campaign.id %>">
      <%= render partial: "campaigns/partials/pane", locals: { campaign: campaign } %>
  	</li>
  	<% end %>
  </ul>
  <%= link_to "Add campaign", new_campaign_path(@campaign, type: 'TwitterCampaign'), class: "mlm" %>
</div>
