<div class="pam man mtm <%= enabled_color campaign.is_active %> campaign-item">
	<div data-id="<%= campaign.id %>"
		class="icon <%= enabled_color campaign.is_active %> fui-power pull-right cam-pane"></div>
	<a href="/campaigns/<%= campaign.id %>/edit"><%= campaign.provider %> campaign<br>
		Title: <%= campaign.title %></a>
	
</div>